.main {
    margin: var(--margin)
}

.heading {
    color: var(--color-primary);
    margin: 0 0 3rem;
    text-align: center;
    font-size: clamp(3.5rem, 6vw, 8rem);
    letter-spacing: 0.08em;
    
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 8px;
    gap: 1rem;
    grid-auto-flow: dense;
}

.fig {
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--color-primary);
    grid-row: span 16;
}

.fig.portrait {
    grid-row: span 22;
}

.fig.landscape {
    grid-row: span 13;
}

.fig.square {
    grid-row: span 16;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

.img:hover {
    transform: scale(1.1);
}

.galleryLink {
    color: var(--color-secondary);
    margin: 2rem auto;
    width: fit-content;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1);
    transition: tranform 0.2s ease-out
}

.galleryLink:hover {
    color: var(--color-primary);
    transform: scale(1.01)
}