
.header {
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: var(--color-background);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.spacer {
    height: 20vh;
    width: 100%;
}

.transparent {
    background-color: transparent;
}

.hide {
    transform: translateY(-100%);
}

.headerDiv {
    height:20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    box-sizing: border-box;
    color: var(--color-surface);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo svg {
    height: 3.2rem;
}

.logo .stroke {
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: draw 1.2s ease-out forwards;
}

@keyframes draw {
    to { stroke-dashoffset: 0; }
}


.nav {
    display: flex;
    gap: 2rem;
}

.navItem {
    font-size: clamp(2rem, 2.5vw, 3rem);
    cursor: pointer;
    color: var(--color-accent)
}


.navItem:hover {
    color: var(--color-hover)
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
    
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
    z-index: 999; 
}

.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 220px;
    background-color: white;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    padding: 2rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.open {
    transform: translateX(0);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.links a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    color: var(--color-accent)
}

.links a:hover {
    
    color: var(--color-hover)
}

@media (width < 676px) {
    .headerDiv {
        height: 10vh;
        padding: 0.5rem 1.5rem;
    }

    .nav {
        gap: 1rem;
    }

    .spacer {
        height: 10vh;
    }
}
