
.footer {
    margin: 0;
    height: 15vh;
    background-color: var(--color-background);
    color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    box-shadow: -10px 8px 24px rgba(0, 0, 0, 0.12);
}

.logo {
    height: 100%;
    width: auto;
}

.icon {
    width: 1.5rem;
    height: auto;
}

.copy {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(1rem, 1.5vw, 2rem);

}

@media (width < 750px) {
    .footer {
        height: auto;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1rem;
        text-align: center;
    }

    .logo {
        height: 50px;
    }

    .follow {
        gap: 0.5rem;
    }
}