
.dish {
    width: 100%;
    margin: 0 auto;
    min-height: 470px;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-card);
    color: var(--color-primary);
    overflow: hidden;
    border-radius: 22px;
    transform: scale(1.0);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.dish:hover {
    transform: scale(1.03)
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.dishData {
    padding: 1rem;
}

.title {
    font-size: clamp(2rem, 2.5vw, 3rem);
}

.desc {
    font-family: var(--font-regular);
    font-size: clamp(1.2rem, 1.7vw, 2.2rem);
    color: var(--color-secondary)
}

@media (width < 676px) {
    .dish {
        min-height: 200px;
    }
}