@font-face {
    font-family: "Cormorant Semibold";
    src: url("./assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Bold';
    src: url("./assets/fonts/CormorantGaramond-Bold.ttf");
}

@font-face {
    font-family: 'Cormorant';
    src: url('./assets/fonts/CormorantGaramond-Regular.ttf')
}

:root {

    --margin: 0 2rem;

    --font-regular: "Cormorant";
    --font-semibold: "Cormorant Semibold", serif;
    --font-bold: "Cormorant Bold";
    --font-semi-bold: var(--font-semibold);

    --color-background: #F8F5F2;
    --color-card: #FFFFFF;
    --color-primary: #222222;
    --color-secondary: #666666;
    --color-hover: #96693A;
    --color-accent: #B7864E;
}

html, body, #root {
    padding: 0;
    margin: 0;
    font-family: var(--font-semibold);
    background-color: #F8F5F2;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

button {
    background-color: var(--color-accent);
    color: white;
    border-radius: 999px;
    border: none;
    padding: 1.5rem 2rem;
    font-family: var(--font-semi-bold);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease-out;
}

button:hover {
    background-color: var(--color-hover);
    transform: scale(1.02) translateY(-1%);
}

section {
    padding-block: 100px;
    max-width: 1280px;
}

@media (width < 676px) {
    :root {
        --margin: 0 2rem;
    }

    button {
        padding: 1.5rem;
    }

    section {
        padding-block: 52px;
    }
}